
.mat-expansion-panel {
  display: flex !important;
  flex-direction: column;
}
.mat-expansion-panel-header {
  order: 2;
}

.mat-expansion-panel-header.mat-expanded {
  height: 40px;
}
.legend-accordion {
  position: absolute;
  z-index: 100;
  right: 300px;
  top: 20px;
}
.legend-element {
  text-align: right;
}



.legend-body {
  display: flex;
  flex-direction: column;
}

.legend-element {
  margin: 3px;
}

.name {
  float:right;
  text-align: right;
}


.square {
  margin-left: 3px;
  float:right;
  height: 20px;
  width: 20px;
}
